@font-face {
  font-family: BarksSpears;
  src: url('./assets/fonts/BarkSpears.ttf');
}
@font-face {
  font-family: SimplySans;
  src: url('./assets/fonts/SimplySans-Book.ttf');
}
@font-face {
  font-family: FarmHouse;
  src: url('./assets/fonts/Farmhouse.otf');
}

/* ABOUT.JS HEADING */
#name-heading{
  font-family: "BarksSpears";
  font-size: 75px;
}

/* SECTION HEADINGS */
#section-heading{
  font-size: 50px;
}

/* BUTTON HOVER */
#button:hover {
  /* background-color: white; */
  color: white;
}

/* PROJECT CARD STYLING */

.card-background {
  background-color: rgb(238, 233, 255);
}

.card-button{
  background-color: rgb(129, 104, 202);
  border: none;
}
.card-button:hover{
  background-color: rgb(203, 195, 227)!important;
}
/* BODY STYLING */
body {
  background-color: rgb(203, 195, 227);
  background-position: center;
  font-family: 'SimplySans';
  font-size: 20px;
}
